.ngm-select{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	border-bottom: 2px solid #757575;
	font-family: Arial, Helvetica, sans-serif;
}
.ngm-select-floating-label{
	position: relative;
    left: 0px;
    font-size: 12px;
    visibility:hidden;
}
.ngm-select-selected-item{
	cursor: pointer;
}
.ngm-select-list-item{
	cursor: pointer;
	padding: 10px;
	font-size: 14px;
}

.ngm-select-load-list{
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.ngm-select-load-header{
	padding: 10px;
	background: #6200EA;
	font-size: 16px;
	color: #FFF;
	z-index: 999;
	text-align: center;
}

.ngm-select-load-list-container{
	max-height: 300px;
	overflow: auto;
	z-index: 999;
	background:#FFF;
}
.ngm-select-float-label{
	visibility: visible;
	top: -8px;
}
.ngm-select-input-bottom
{
border-bottom: 2px solid #6200EA;
}
.ngm-select-backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	transition-property: opacity,transform;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.23,1,.32,1);
}
